# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.kumachan'
'name': 'KumaChan'
'comment': 'KumaChan language'
'type': 'tree-sitter'
'parser': 'tree-sitter-kumachan'
'fileTypes': [
  'km'
]
'scopes':
  '''
    "import",
    "from",
    "type",
    "union",
    "native",
    "as",
    "protected",
    "opaque",
    "private",
    "public",
    "function",
    "const",
    "macro",
    "do",
    "switch*",
    "switch",
    "case",
    "default",
    "end",
    "if",
    "elif",
    "else",
    "lambda",
    "let",
    "rec",
    "|",
    "."
  ''': 'keyword.control'
  'comment': 'comment.block'
  'decl_const > name': 'constant.other'
  'int': 'constant.numeric'
  'float': 'constant.numeric'
  'char': 'constant.character'
  'string_text': 'string.quoted.single'
  'formatter_text': 'string.quoted.double'
  'decl_func > name': 'entity.name.function'
  'infix > operator': 'keyword.operator'
'folds': [
  {
    'type': 'comment'
  }
  {
    'type': 'multi_switch'
  }
  {
    'type': 'switch'
  }
  {
    'type': 'if'
  }
  {
    'type': 'block'
  }
]
